{
  "DATA_URL": "./data.default.json",
  "DEFAULT_START_ID": "p-1",
  "DEFAULT_DEPTH": 2,
  "DEFAULT_DIR": "both",
  "DEFAULT_MANAGEMENT": true,
  "DEFAULT_LABELS": true,
  "DEFAULT_HIERARCHY": true,
  "DEFAULT_DEBUG": false,
  "DEFAULT_ATTRIBUTES": true,
  "DEFAULT_HIDDEN_ROOTS": ["p-1"],
  "ATTRIBUTES_URL": "./attributes.tsv.txt",
  "_comment": "DEFAULT_DIR valid values: 'both', 'down', 'up' (lowercase)"
}
