{
  "DATA_URL": "./data.example.json",
  "DATA_ATTRIBUTES_URL": "./attributes.example.txt",

  "TOOLBAR_DEPTH_DEFAULT": 2,
  "TOOLBAR_DIRECTION_DEFAULT": "down",
  "TOOLBAR_MANAGEMENT_ACTIVE": false,
  "TOOLBAR_HIERARCHY_ACTIVE": false,
  "TOOLBAR_LABELS_ACTIVE": true,
  "TOOLBAR_ZOOM_DEFAULT": "fit",
  "TOOLBAR_PSEUDO_ACTIVE": true,
  "TOOLBAR_PSEUDO_PASSWORD": "",
  "TOOLBAR_DEBUG_ACTIVE": false,
  "TOOLBAR_SIMULATION_ACTIVE": false,

  "LEGEND_OES_COLLAPSED": false,
  "LEGEND_ATTRIBUTES_COLLAPSED": false,
  "LEGEND_ATTRIBUTES_ACTIVE": false,
  "LEGEND_HIDDEN_COLLAPSED": false,
  "LEGEND_HIDDEN_ROOTS_DEFAULT": [],

  "GRAPH_START_ID_DEFAULT": "p-29",

  "DEBUG_LINK_DISTANCE": 30,
  "DEBUG_LINK_STRENGTH": 0.25,
  "DEBUG_CHARGE_STRENGTH": -250,
  "DEBUG_ALPHA_DECAY": 0.05,
  "DEBUG_VELOCITY_DECAY": 0.5,
  "DEBUG_NODE_RADIUS": 16,
  "DEBUG_NODE_STROKE_WIDTH": 4,
  "DEBUG_LABEL_FONT_SIZE": 21,
  "DEBUG_LINK_STROKE_WIDTH": 4,
  "DEBUG_ARROW_SIZE": 16
}