{
  "DATA_URL": "./data.example.json",
  "DEFAULT_START_ID": "p-29",
  "DEFAULT_DEPTH": 2,
  "DEFAULT_DIR": "down",
  "MANAGEMENT_ONLY": false,
  "LABELS_VISIBLE": false,
  "HIERARCHICAL_LAYOUT": false,
  "DEFAULT_HIDDEN_ROOTS": [],
  "ATTRIBUTES_URL": "./attributes.example.txt",
  "HIDE_SUBTREE_BUTTON": false,
  "DEFAULT_ZOOM": 0.3,
  "DEBUG_MODE": false,
  "ATTRIBUTES_VISIBLE": false,
  "PSEUDONYMIZATION_ENABLED": true,
  "PSEUDONYMIZATION_PASSWORD": ""
}